.chart-container {
  display: block;
  position: relative;
  height: 27vh;
  width: 37vw;
  margin-left: 30vw;
}

.chart-top   {
  display: block;
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
}