.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    display:flex;
  }
  
  .example-full-width {
    width: 100%;
  }

  .search-btn {
    margin-left: 20px
  }

  .search-container {
    margin-left: 27%;
  }
  
  .mat-expansion-panel-header-title,
   .mat-expansion-panel-header-description {
    flex-basis: 0;
  }
.mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }

